
@media screen and (max-width:1120px){

    figure .profile .profile1 img {
        width: 45vw;
    }

    figure .profile .profile2 img {
        width: 45vw;
    }


}


@media screen and (max-width:970px){
    figure .inner h1 {
        margin-bottom : 4rem;
    }

    figure .profile .profile1 {
        padding-bottom: 50px;
    }


    figure .profile .profile1 img {
        width: 90%;
    }

    figure .profile .profile2 img {
        width: 90%;
    }

    section .inner2 .card1 .imgbox img{
        width:100%;
        min-width : 390px;
        object-fit: cover;

    }

}


@media screen and (max-width:768px){


figure .inner h1 {
    font-size: 6.2vw ;
}

figure .inner p {
    font-size: 5vw ;
}


section .inner .wrap article {
    width : 40vw;
    height : 40vw;

}

section .inner .wrap article .pic {
    width: 40%;
    height: auto;
    margin: auto;
}



section .inner .wrap article h3 {
    font-size : 4vw;

}

section .inner2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .inner2 .wrap2 .card1{
    display:block;
}



section .inner2 .card1 .imgbox{
    display:block;
    width: 100%;
    height : 40vh;
}


section .inner2 .card1 .imgbox img{
    height : 100%;
}

}
